<mat-card class="entidad">
  <mat-card-content>
    <h3>Zone '{{ zona.letra }}'</h3>
    <ul>
      <li>Type of vehicle: {{ zona.tipoVehiculo ?? "Not indicated" }}</li>
      <li>
        Depth of the garage:
        {{ zona.profundidadGarage ?? "Not indicated" }}
      </li>
      <li>Width of the garage: {{ zona.anchoGarage ?? "Not indicated" }}</li>
      <li>Number of the garages: {{ getNumerosGarages() }}</li>
      <li>Code of the employees: {{ getCodigosEmpleados() }}</li>
      <li>Amount of vehicles contained: {{ numeroVehiculosContenidos ?? 0}}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.asignar.emit(this.zona)"
      *ngIf="asignable"
      -label="Assign" aria-label="Delete"
      class="asignarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="this.editar.emit(this.zona.letra)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.zona)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
