<div *ngIf="this.loginService.user.role === 'administrador'">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assigned zones:
          <span *ngIf="!getZonasAsignadas()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card
    >
    <div class="lista">
      <app-zona
        (borrar)="removerZona($event)"
        *ngFor="let zona of getZonasAsignadas()"
        [borrable]="true"
        [zona]="zona"
      ></app-zona>
      <div class="agregarContainer">
        <button
          (click)="abrirSelectorZonas()"
          aria-label="Add new zone"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!getDeseaAsignar()" class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assignable zones:
          <span *ngIf="!getZonasAsignables()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-zona
        (asignar)="asignarZona($event)"
        *ngFor="let zona of getZonasAsignables()"
        [asignable]="true"
        [zona]="zona"
      ></app-zona>
    </div>
  </div>
</div>
