<div *ngIf="this.loginService.user.role === 'administrador'">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>Managers:</h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-administrador
        (borrar)="borrarAdministrador($event)"
        (editar)="editarAdministrador($event)"
        *ngFor="let administrador of administradores"
        [administrador]="administrador"
        [borrable]="administradores.length > 1"
        [editable]="true"
      ></app-administrador>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/administrador'])"
          aria-label="Add new manager"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Employees:
          <span *ngIf="!empleados || !empleados.length"
          >None found</span
          >
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-empleado
        (borrar)="borrarEmpleado($event)"
        (editar)="editarEmpleado($event)"
        *ngFor="let empleado of empleados"
        [borrable]="true"
        [editable]="true"
        [empleado]="empleado"
      ></app-empleado>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/empleado'])"
          aria-label="Add new employee"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Garages:
          <span *ngIf="!garages || !garages.length">None found</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-garage
        (borrar)="borrarGarage($event)"
        (editar)="editarGarage($event)"
        *ngFor="let garage of garages"
        [borrable]="true"
        [editable]="true"
        [garage]="garage"
      ></app-garage>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/garage'])"
          aria-label="Add new garage"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Partners:
          <span *ngIf="!socios || !socios.length">None found</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-socio
        (borrar)="borrarSocio($event)"
        (editar)="editarSocio($event)"
        *ngFor="let socio of socios"
        [borrable]="true"
        [editable]="true"
        [socio]="socio"
      ></app-socio>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/socio'])"
          aria-label="Add new partner"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Vehicles:
          <span *ngIf="!vehiculos || !vehiculos.length"
          >None found</span
          >
        </h2></mat-card-content
      >
    </mat-card>
    <div class="lista">
      <app-vehiculo
        (borrar)="borrarVehiculo($event)"
        (editar)="editarVehiculo($event)"
        *ngFor="let vehiculo of vehiculos"
        [borrable]="true"
        [editable]="true"
        [vehiculo]="vehiculo"
      ></app-vehiculo>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/vehiculo'])"
          aria-label="Add new vehicle"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Zones:
          <span *ngIf="!zonas || !zonas.length">None found</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-zona
        (borrar)="borrarZona($event)"
        (editar)="editarZona($event)"
        *ngFor="let zona of zonas"
        [borrable]="true"
        [editable]="true"
        [zona]="zona"
      ></app-zona>
      <div class="agregarContainer">
        <button
          (click)="this.router.navigate(['/crear/zona'])"
          aria-label="Add new zone"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <p>The author of this project should not be deemed responsible for the use made by its users</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
