<mat-card *ngIf="garage" class="entidad">
  <mat-card-content>
    <h3>N°{{ garage.numeroGarage }}</h3>
    <ul>
      <li>
        Light meter reading:
        {{ garage.lecturaContadorLuz ?? "Not indicated" }}
      </li>
      <li>
        Does it have contracted maintenment services?:
        {{ garage.clienteServiciosMantenimiento ? "yes" : "no" }}
      </li>
      <li>
        Date of purchase of the garage:
        {{
        garage.fechaCompraGarage?.toLocaleDateString() ?? "Not indicated"
        }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.asignar.emit(this.garage)"
      *ngIf="asignable"
      aria-label="Assign"
      class="asignarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="this.editar.emit(this.garage.numeroGarage)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.garage)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
