<mat-card *ngIf="this.loginService.user.role === 'administrador'" [ngClass]="'subtituloContainer'">
  <mat-card-content>
    <h2>Choose what you want to edit</h2>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="editarCampos()" color="accent" mat-raised-button>
      Fields
    </button>
    <button (click)="editarGarages()" color="primary" mat-raised-button>
      Assign or remove garages
    </button>
    <button (click)="editarVehiculos()" color="primary" mat-raised-button>
      Assign or remove vehicles
    </button>
  </mat-card-actions>
</mat-card>
