<mat-card [ngClass]="'subtituloContainer'" *ngIf="this.loginService.user.role === 'administrador'">
  <mat-card-content>
    <h2>Elija una opción a editar</h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="editarCampos()">
      Campos
    </button>
    <button mat-raised-button color="primary" (click)="editarGarages()">
      Asignar o remover garages
    </button>
    <button mat-raised-button color="primary" (click)="editarVehiculos()">
      Asignar o remover vehículos
    </button>
  </mat-card-actions>
</mat-card>