<mat-card class="entidad">
  <mat-card-content>
    <h3>{{ socio.nombre }}</h3>
    <ul>
      <li>Dni: {{ socio.dni }}</li>
      <li>Password: {{ socio.password }}</li>
      <li>Address: {{ socio.direccion ?? "Not indicated" }}</li>
      <li>Phone number: {{ socio.telefono ?? "Not indicated" }}</li>
      <li>Date of entrance: {{ socio.ingreso?.toLocaleDateString() ?? "Not indicated" }}</li>
      <li>Number of garages: {{ getNumerosGarages() }}</li>
      <li>License plate number of the vehicles: {{ getMatriculasVehiculos() }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.editar.emit(this.socio.dni)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.socio)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
