<div class="bienvenida">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>Inicio de Sesión</h2>
    </mat-card-content>
  </mat-card>
</div>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-card class="formCard">
    <mat-card-header
      ><mat-card-title>Nombre de usuario</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <mat-form-field appearance="outline" required>
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          matInput
          name="user"
          [(ngModel)]="service.user.user"
        /> </mat-form-field
    ></mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-header
      ><mat-card-title>Contraseña</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <mat-form-field appearance="outline" required>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          name="password"
          [(ngModel)]="service.user.password"
        /> </mat-form-field></mat-card-content
  ></mat-card>
  <div class="submitContainer">
    <button type="submit" mat-fab color="accent">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
