<mat-card [ngClass]="'subtituloContainer titulo'">
  <mat-card-content>
    <h2>Enter the information of the new vehicle</h2>
  </mat-card-content>
</mat-card>
<form #vehiculoForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Number of the license plate</h2>
      <mat-form-field appearance="outline" required>
        <mat-label>Number</mat-label>
        <input
          [(ngModel)]="model.matricula"
          matInput
          name="matricula"
          type="text"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Name of the vehicle</h2>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="model.nombre"
          matInput
          name="nombre"
          type="text"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Type of vehicle</h2>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input
          [(ngModel)]="model.tipo"
          matInput
          name="tipo"
          type="text"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Height of the vehicle</h2>
      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <input
          [(ngModel)]="model.alto"
          matInput
          name="alto"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Width of the vehicle</h2>
      <mat-form-field appearance="outline">
        <mat-label>Width</mat-label>
        <input
          [(ngModel)]="model.ancho"
          matInput
          name="ancho"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Depth of the vehicle</h2>
      <mat-form-field appearance="outline">
        <mat-label>Depth</mat-label>
        <input
          [(ngModel)]="model.profundidad"
          matInput
          name="profundidad"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <div class="submitContainer">
    <button color="accent" mat-fab type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
