<mat-card [ngClass]="'subtituloContainer titulo'">
  <mat-card-content>
    <h2>Enter the information of the new zone</h2>
  </mat-card-content>
</mat-card>
<form #zonaForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Letter of the zone</h2>
      <mat-form-field appearance="outline" required>
        <mat-label>Letter</mat-label>
        <input
          [(ngModel)]="model.letra"
          matInput
          name="letra"
          type="text"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Type of vehicles it contains</h2>
      <mat-form-field appearance="outline">
        <mat-label>Type of vehicles</mat-label>
        <input
          [(ngModel)]="model.tipoVehiculo"
          matInput
          name="tipoVehiculo"
          type="text"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Depth of the garages</h2>
      <mat-form-field appearance="outline">
        <mat-label>Depth</mat-label>
        <input
          [(ngModel)]="model.profundidadGarage"
          matInput
          name="profundidadGarage"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Depth of the garages</h2>
      <mat-form-field appearance="outline">
        <mat-label>Depth</mat-label>
        <input
          [(ngModel)]="model.anchoGarage"
          matInput
          name="ancho"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <div class="submitContainer">
    <button color="accent" mat-fab type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
