<mat-card class="entidad">
  <mat-card-content>
    <h3>{{ empleado.nombre }}</h3>
    <ul>
      <li>Code: {{ empleado.codigo }}</li>
      <li>Password: {{ empleado.password }}</li>
      <li>
        Address:
        {{ empleado.direccion ?? "Not indicated" }}
      </li>
      <li>
        Phone:
        {{ empleado.telefono ?? "Not indicated" }}
      </li>
      <li>
        Specialty:
        {{ empleado.especialidad ?? "Not indicated" }}
      </li>
      <li>Zones letters: {{ getLetrasZonas() }}</li>
      <li>
        Amount of assigned vehicles by zone:
        <span *ngIf="!(cantidadVehiculosEncargadosPorZona | keyvalue)?.length">0</span>
        <ul *ngIf="(cantidadVehiculosEncargadosPorZona | keyvalue)?.length">
          <li
            *ngFor="let vehiculosEnZona of cantidadVehiculosEncargadosPorZona | keyvalue"
          >
            {{ vehiculosEnZona.key + ": " + vehiculosEnZona.value }}
          </li>
        </ul>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.asignar.emit(this.empleado)"
      *ngIf="asignable"
      aria-label="Assign"
      class="asignarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="this.editar.emit(this.empleado.codigo)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.empleado)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
