<div *ngIf="this.loginService.user.role === 'administrador'">
  <mat-card [ngClass]="'subtituloContainer titulo'">
    <mat-card-content>
      <h2>Ingrese los nuevos datos para el vehículo</h2>
    </mat-card-content>
  </mat-card>
  <form (ngSubmit)="onSubmit()" #vehiculoForm="ngForm">
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Nombre del vehículo</h2>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            type="text"
            matInput
            name="nombre"
            [(ngModel)]="model.nombre"
          /> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Tipo de vehículo</h2>
        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <input
            type="text"
            matInput
            name="tipo"
            [(ngModel)]="model.tipo"
          /> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Alto del vehículo</h2>
        <mat-form-field appearance="outline">
          <mat-label>Alto</mat-label>
          <input
            type="number"
            matInput
            name="alto"
            [(ngModel)]="model.alto"
          /> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Ancho del vehículo</h2>
        <mat-form-field appearance="outline">
          <mat-label>Ancho</mat-label>
          <input
            type="number"
            matInput
            name="ancho"
            [(ngModel)]="model.ancho"
          /> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Profundidad del vehículo</h2>
        <mat-form-field appearance="outline">
          <mat-label>Profundidad</mat-label>
          <input
            type="number"
            matInput
            name="profundidad"
            [(ngModel)]="model.profundidad"
          /> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Fecha de asignación del garage</h2>
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="fechaAsignacionGarage"
            [(ngModel)]="model.fechaAsignacionGarage"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> </mat-form-field
      ></mat-card-content>
    </mat-card>
    <div class="submitContainer">
      <button type="submit" mat-fab color="accent">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
