<div *ngIf="this.loginService.user.role === 'administrador'">
  <mat-card [ngClass]="'subtituloContainer titulo'">
    <mat-card-content>
      <h2>Enter the new information for the vehicle</h2>
    </mat-card-content>
  </mat-card>
  <form #vehiculoForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Name of vehicle</h2>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            [(ngModel)]="model.nombre"
            matInput
            name="nombre"
            type="text"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Type of vehicle</h2>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <input
            [(ngModel)]="model.tipo"
            matInput
            name="tipo"
            type="text"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Height of the vehicle</h2>
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input
            [(ngModel)]="model.alto"
            matInput
            name="alto"
            type="number"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Width of the vehicle</h2>
        <mat-form-field appearance="outline">
          <mat-label>Witdh</mat-label>
          <input
            [(ngModel)]="model.ancho"
            matInput
            name="ancho"
            type="number"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Depth of the vehicle</h2>
        <mat-form-field appearance="outline">
          <mat-label>Depth</mat-label>
          <input
            [(ngModel)]="model.profundidad"
            matInput
            name="profundidad"
            type="number"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Date of assignment of garage</h2>
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input
            [(ngModel)]="model.fechaAsignacionGarage"
            [matDatepicker]="picker"
            matInput
            name="fechaAsignacionGarage"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            [for]="picker"
            matIconSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <div class="submitContainer">
      <button color="accent" mat-fab type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
