<div *ngIf="this.loginService.user.role === 'administrador'">
  <mat-card [ngClass]="'subtituloContainer titulo'">
    <mat-card-content>
      <h2>Enter the new information for the employee</h2>
    </mat-card-content>
  </mat-card>
  <form #cantidadVehiculosForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Zone that you want to modify</h2>
        <mat-form-field appearance="outline" required>
          <mat-label>Zona letter</mat-label>
          <input
            [(ngModel)]="model.zona"
            matInput
            name="zona"
            type="text"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Amount of assigned vehicles</h2>
        <mat-form-field appearance="outline" required>
          <mat-label>Vehicles</mat-label>
          <input
            [(ngModel)]="model.vehiculos"
            matInput
            name="vehiculos"
            type="number"
          /></mat-form-field>
      </mat-card-content
      >
    </mat-card>
    <div class="submitContainer">
      <button color="accent" mat-fab type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
