<mat-card class="entidad">
  <mat-card-content>
    <h3>Matrícula "{{ vehiculo.matricula }}"</h3>
    <ul>
      <li>Nombre: {{ vehiculo.nombre ?? "No se ha ingresado" }}</li>
      <li>Tipo: {{ vehiculo.tipo ?? "No se ha ingresado" }}</li>
      <li>Alto: {{ vehiculo.alto ?? "No se ha ingresado" }}</li>
      <li>Ancho: {{ vehiculo.ancho ?? "No se ha ingresado" }}</li>
      <li>Profundidad: {{ vehiculo.profundidad ?? "No se ha ingresado" }}</li>
      <li>
        Número de garage:
        {{
          vehiculo.garage?.numeroGarage
            ? vehiculo.garage!.numeroGarage
            : "No se ha ingresado"
        }}
      </li>
      <li>
        Fecha asignación de garage:
        {{ vehiculo.fechaAsignacionGarage?.toLocaleDateString() ?? "No se ha ingresado" }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      *ngIf="asignable"
      color="accent"
      class="asignarButton"
      aria-label="Asignar"
      (click)="this.asignar.emit(this.vehiculo)"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="editable"
      color="accent"
      class="editarButton"
      aria-label="Editar"
      (click)="this.editar.emit(this.vehiculo.matricula)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="borrable"
      color="warn"
      class="borrarButton"
      aria-label="Borrar"
      (click)="this.borrar.emit(this.vehiculo)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
