<mat-card class="entidad">
  <mat-card-content>
    <h3>License plate number "{{ vehiculo.matricula }}"</h3>
    <ul>
      <li>Name: {{ vehiculo.nombre ?? "Not indicated" }}</li>
      <li>Type: {{ vehiculo.tipo ?? "Not indicated" }}</li>
      <li>Height: {{ vehiculo.alto ?? "Not indicated" }}</li>
      <li>Width: {{ vehiculo.ancho ?? "Not indicated" }}</li>
      <li>Depth: {{ vehiculo.profundidad ?? "Not indicated" }}</li>
      <li>
        Number of the garage:
        {{
        vehiculo.garage?.numeroGarage
          ? vehiculo.garage!.numeroGarage
          : "Not indicated"
        }}
      </li>
      <li>
        Date of assignment of garage:
        {{ vehiculo.fechaAsignacionGarage?.toLocaleDateString() ?? "Not indicated" }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.asignar.emit(this.vehiculo)"
      *ngIf="asignable"
      aria-label="Assign"
      class="asignarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="this.editar.emit(this.vehiculo.matricula)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.vehiculo)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
