<mat-card [ngClass]="'subtituloContainer titulo'">
  <mat-card-content>
    <h2>
      Error: the entity must be associated from the following entities:
    </h2>
  </mat-card-content>
</mat-card>
<div *ngIf="empleados?.length" class="listaContainer">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>
        Employees:
      </h2>
    </mat-card-content>
  </mat-card>
  <div class="lista">
    <app-empleado
      *ngFor="let empleado of empleados"
      [empleado]="empleado"
    ></app-empleado>
  </div>
</div>
<div *ngIf="garages?.length" class="listaContainer">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>
        Garages:
      </h2>
    </mat-card-content>
  </mat-card>
  <div class="lista">
    <app-garage *ngFor="let garage of garages" [garage]="garage"></app-garage>
  </div>
</div>
<div *ngIf="socios?.length" class="listaContainer">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>
        Partners:
      </h2>
    </mat-card-content>
  </mat-card>
  <div class="lista">
    <app-socio *ngFor="let socio of socios" [socio]="socio"></app-socio>
  </div>
</div>
<div *ngIf="vehiculos?.length" class="listaContainer">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>
        Vehicles:
      </h2></mat-card-content
    >
  </mat-card>
  <div class="lista">
    <app-vehiculo
      *ngFor="let vehiculo of vehiculos"
      [vehiculo]="vehiculo"
    ></app-vehiculo>
  </div>
</div>
<div *ngIf="zonas?.length" class="listaContainer">
  <mat-card [ngClass]="'subtituloContainer'">
    <mat-card-content>
      <h2>
        Zones:
      </h2>
    </mat-card-content>
  </mat-card>
  <div class="lista">
    <app-zona *ngFor="let zona of zonas" [zona]="zona"></app-zona>
  </div>
</div>
