<div *ngIf="this.loginService.user.role === 'administrador'">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assigned vehicles:
          <span *ngIf="!getVehiculosAsignados()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-vehiculo
        (borrar)="removerVehiculo($event)"
        *ngFor="let vehiculo of getVehiculosAsignados()"
        [borrable]="true"
        [vehiculo]="vehiculo"
      ></app-vehiculo>
      <div class="agregarContainer">
        <button
          (click)="abrirSelectorVehiculos()"
          aria-label="Add new vehicle"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!getDeseaAsignar()" class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assignable vehicles:
          <span *ngIf="!getVehiculosAsignables()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-vehiculo
        (asignar)="asignarVehiculo($event)"
        *ngFor="let vehiculo of getVehiculosAsignables()"
        [asignable]="true"
        [vehiculo]="vehiculo"
      ></app-vehiculo>
    </div>
  </div>
</div>
