<div *ngIf="this.loginService.user.role === 'empleado' && empleado">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Bienvenido, {{ empleado.nombre }}. A continuación podrá consultar sus
          datos.
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <mat-card>
        <mat-card-content>
          <ul class="itemsContainer">
            <li>Rol: empleado</li>
            <li>Código: {{ empleado.codigo }}</li>
            <li>Nombre: {{ empleado.nombre }}</li>
            <li>Password: {{ empleado.password }}</li>
            <li>
              Dirección:
              {{ empleado.direccion ?? "No se ha ingresado la dirección" }}
            </li>
            <li>
              Teléfono:
              {{ empleado.telefono ?? "No se ha ingresado el teléfono" }}
            </li>
            <li>
              Especialidad:
              {{
                empleado.especialidad ?? "No se ha ingresado la especialidad"
              }}
            </li>
            <li>
              Cantidad de vehiculos encargados por zona:
              <span
                *ngIf="!(cantidadVehiculosEncargadosPorZona | keyvalue)?.length"
                >0</span
              >
              <ul
                *ngIf="(cantidadVehiculosEncargadosPorZona | keyvalue)?.length"
              >
                <li
                  *ngFor="
                    let vehiculosEnZona of cantidadVehiculosEncargadosPorZona
                      | keyvalue
                  "
                >
                  {{ vehiculosEnZona.key + ": " + vehiculosEnZona.value }}
                </li>
              </ul>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>Zonas asignadas: <span *ngIf="!zonas?.length">ninguna</span></h2>
      </mat-card-content>
    </mat-card>
    <div class="lista" *ngIf="zonas?.length">
      <app-zona *ngFor="let zona of zonas" [zona]="zona"></app-zona>
    </div>
  </div>
</div>
