<div *ngIf="this.loginService.user.role === 'empleado' && empleado">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Welcome, {{ empleado.nombre }}. Here you will be able to see your data.
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <mat-card>
        <mat-card-content>
          <ul class="itemsContainer">
            <li>Role: employee</li>
            <li>Code: {{ empleado.codigo }}</li>
            <li>Name: {{ empleado.nombre }}</li>
            <li>Password: {{ empleado.password }}</li>
            <li>
              Address:
              {{ empleado.direccion ?? "Not indicated" }}
            </li>
            <li>
              Phone number:
              {{ empleado.telefono ?? "Not indicated" }}
            </li>
            <li>
              Specialty:
              {{
              empleado.especialidad ?? "Not indicated"
              }}
            </li>
            <li>
              Amount of vehicles assigned by zone:
              <span
                *ngIf="!(cantidadVehiculosEncargadosPorZona | keyvalue)?.length"
              >0</span
              >
              <ul
                *ngIf="(cantidadVehiculosEncargadosPorZona | keyvalue)?.length"
              >
                <li
                  *ngFor="
                    let vehiculosEnZona of cantidadVehiculosEncargadosPorZona
                      | keyvalue
                  "
                >
                  {{ vehiculosEnZona.key + ": " + vehiculosEnZona.value }}
                </li>
              </ul>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>Assigned zones: <span *ngIf="!zonas?.length">none</span></h2>
      </mat-card-content>
    </mat-card>
    <div *ngIf="zonas?.length" class="lista">
      <app-zona *ngFor="let zona of zonas" [zona]="zona"></app-zona>
    </div>
  </div>
</div>
