<div *ngIf="this.loginService.user.role === 'administrador'">
  <mat-card [ngClass]="'subtituloContainer titulo'">
    <mat-card-content>
      <h2>Enter the new information for the garage</h2>
    </mat-card-content>
  </mat-card>
  <form #garageForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Light meter reading</h2>
        <mat-form-field appearance="outline">
          <mat-label>Reading</mat-label>
          <input
            [(ngModel)]="model.lecturaContadorLuz"
            matInput
            name="lecturaContadorLuz"
            type="number"
          /></mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Maintenance services</h2>
        <mat-checkbox
          [(ngModel)]="model.clienteServiciosMantenimiento"
          name="clienteServiciosMantenimiento"
        >¿Has the client contracted manteinment services?
        </mat-checkbox
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="formCard">
      <mat-card-content>
        <h2>Date of purchase</h2>
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input
            [(ngModel)]="model.fechaCompraGarage"
            [matDatepicker]="picker"
            matInput
            name="fechaCompraGarage"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            [for]="picker"
            matIconSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field
        >
      </mat-card-content>
    </mat-card>
    <div class="submitContainer">
      <button color="accent" mat-fab type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
