<mat-card [ngClass]="'subtituloContainer titulo'">
  <mat-card-content>
    <h2>Enter the information of the new garage</h2>
  </mat-card-content>
</mat-card>
<form #garageForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Garage number</h2>
      <mat-form-field appearance="outline" required>
        <mat-label>Garage number</mat-label>
        <input
          [(ngModel)]="model.numeroGarage"
          matInput
          name="numeroGarage"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="formCard">
    <mat-card-content>
      <h2>Light emitter reading</h2>
      <mat-form-field appearance="outline">
        <mat-label>Reading</mat-label>
        <input
          [(ngModel)]="model.lecturaContadorLuz"
          matInput
          name="lecturaContadorLuz"
          type="number"
        /></mat-form-field
      >
    </mat-card-content>
  </mat-card>
  <div class="submitContainer">
    <button color="accent" mat-fab type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
