<div *ngIf="this.loginService.user.role === 'socio' && socio">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Welcome, {{ socio.nombre }}. Here you will be able to see your data
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <mat-card>
        <mat-card-content>
          <ul class="itemsContainer">
            <li>Role: partner</li>
            <li>ID: {{ socio.dni }}</li>
            <li>Name: {{ socio.nombre }}</li>
            <li>Password: {{ socio.password }}</li>
            <li>Address: {{ socio.direccion ?? "Not indicated" }}</li>
            <li>Phone number: {{ socio.telefono ?? "Not indicated" }}</li>
            <li>Date of entrance: {{ socio.ingreso?.toLocaleDateString() ?? "Not indicated" }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Garages:
          <span *ngIf="!socio.garages?.length">None found</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-garage
        *ngFor="let garage of socio.garages"
        [garage]="garage"
      ></app-garage>
    </div>
  </div>
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Vehicles:
          <span *ngIf="!socio.vehiculos?.length">None found</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-vehiculo
        *ngFor="let vehiculo of socio.vehiculos"
        [vehiculo]="vehiculo"
      ></app-vehiculo>
    </div>
  </div>
</div>
