<mat-card class="entidad">
  <mat-card-content>
    <h3>{{ administrador.nombre }}</h3>
    <ul>
      <li>Id: {{ administrador.id }}</li>
      <li>Password: {{ administrador.password }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="this.editar.emit(this.administrador.id)"
      *ngIf="editable"
      aria-label="Edit"
      class="editarButton"
      color="accent"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      (click)="this.borrar.emit(this.administrador)"
      *ngIf="borrable"
      aria-label="Delete"
      class="borrarButton"
      color="warn"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
