<div *ngIf="this.loginService.user.role === 'administrador'">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assigned garages:
          <span *ngIf="!getGaragesAsignados()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-garage
        (borrar)="removerGarage($event)"
        *ngFor="let garage of getGaragesAsignados()"
        [borrable]="true"
        [garage]="garage"
      ></app-garage>
      <div class="agregarContainer">
        <button
          (click)="abrirSelectorGarages()"
          aria-label="Add new garage"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!getDeseaAsignar()" class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assignable garages:
          <span *ngIf="!getGaragesAsignables()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-garage
        (asignar)="asignarGarage($event)"
        *ngFor="let garage of getGaragesAsignables()"
        [asignable]="true"
        [garage]="garage"
      ></app-garage>
    </div>
  </div>
</div>
