<div *ngIf="this.loginService.user.role === 'administrador'">
  <div class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assigned employees:
          <span *ngIf="!getEmpleadosAsignados()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-empleado
        (borrar)="removerEmpleado($event)"
        *ngFor="let empleado of getEmpleadosAsignados()"
        [borrable]="true"
        [empleado]="empleado"
      ></app-empleado>
      <div class="agregarContainer">
        <button
          (click)="abrirSelectorEmpleados()"
          aria-label="Add new employee"
          class="agregarButton"
          color="accent"
          mat-fab
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!getDeseaAsignar()" class="listaContainer">
    <mat-card [ngClass]="'subtituloContainer'">
      <mat-card-content>
        <h2>
          Assignable employees:
          <span *ngIf="!getEmpleadosAsignables()?.length">none</span>
        </h2>
      </mat-card-content>
    </mat-card>
    <div class="lista">
      <app-empleado
        (asignar)="asignarEmpleado($event)"
        *ngFor="let empleado of getEmpleadosAsignables()"
        [asignable]="true"
        [empleado]="empleado"
      ></app-empleado>
    </div>
  </div>
</div>
